body{
    background-color: 3D5A80;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f7ede2;
}
h1{
    color: #EE6C4D;
}
h2{
    color:#E0FBFC ;
}
li{
    color: white;
}
#bordeado{
    border: 3px solid white;
}
.aloha{
    background-color: #293241;
}
input{
    border:  2px dashed rgb(238,108,77); 
}
div p:hover{
    font-size: 150%;
    color: #98C1D9;
}
input[type="text"]{
    background-color: #00aae4;
}